/* CSS styles */
body{
    margin: 20px;
    padding: 0px;
    font-family: "Verdana";
}
.name{
  text-align:center;
  font-size:18;
}
.linkedin{
  display:inline-block;
  margin:0px;
  padding:0px;
}
.email{
  display:inline-block;
  float:right;
  margin:0px
}
table {
    border: 3px solid black;
    margin: 1rem 0 1rem 0;
    width: 100%;
    text-align: center;
    border-radius:10px;
  }
td,
  th {
    border: 1px solid #000;
    padding: 0.4rem;
  }
.li{
      display: inline-block;
  }
.main{
    /* height: 1150px; */
    padding: 2rem;
    width: 50rem;
    background-color: EEEAEA;
    box-shadow: 5px 7px 15px  #b9b9b6;
    margin: 1rem auto;
    border-radius: 1rem;
}
.grey{
      background: #35AD96;
      color: white;
      border-radius:4px;
  }
.grey:hover{
  transform:scale(1.1);
  opacity:0.8;
  -webkit-transition: transform 0.3s ease-in-out;
}
a:hover{
  color: red;
}
.neonText {
  animation: flicker 1.2s infinite alternate;
  color: #CF0C58;
  text-align:center;
}
@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}
//scrolling section
#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 15s linear infinite;
  -webkit-animation: my-animation 15s linear infinite;
  animation: my-animation 15s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
  from { -moz-transform: translateX(100%); }
  to { -moz-transform: translateX(-100%); }
}

/* for Chrome */
@-webkit-keyframes my-animation {
  from { -webkit-transform: translateX(100%); }
  to { -webkit-transform: translateX(-100%); }
}

@keyframes my-animation {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }






	  